.wedding-party {
  padding: 20px 0;
}

.people-wrapper {
  display: flex;
}

.people-wrapper > div {
  flex: 0 0 50%;
}

.list-of-people {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.person {
  display: flex;
  flex-direction: column;
  flex-basis: calc(25% - 60px);
  padding: 0 30px;
  margin-bottom: 30px;
}

.person img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.person-description {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
}