.registry-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.registry-item-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 40px;
}

.registry-item-wrapper img {
  height: 100px;
  width: 200px;
  object-fit: contain;
}

.registry-item-wrapper button.shop-button {
  color: #fff;
  background-color: #000;
  outline: none;
  cursor: pointer;
  height: 40px;
  font-size: 16px;
  width: 200px;
}

.registry-item-wrapper button.text-button {
  background-color: #fff;
  color: #000;
  border: none;
  outline: none;
  cursor: pointer;
  height: 100px;
  font-size: 30px;
  font-weight: 600;
  width: 200px;
}

.honeymoon-modal * {
  display: block;
}

.honeymoon-modal h2 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .registry-wrapper {
    flex-wrap: wrap;
  }

  .registry-item-wrapper {
    flex-basis: 100%;
  }
}
