.landing-image {
  height: calc(100vh - 70px);
  width: 100vw;
  position: relative;
  background-image: url("./adam-lindsay.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-top: 70px;
  font-family: 'Great Vibes', cursive;
}

.landing-title {
  font-size: 45px;
}

.landing-countdown {
  display: flex;
}

.landing-countdown > div {
  margin: 10px;
  padding: 10px;
  border: #000 2px solid;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  border-bottom: none;
  font-size: 26px;
  height: 70px;
  width: 140px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
}