.landing-image {
  height: calc(100vh - 70px);
  width: 100%;
  position: relative;
  background-image: url("./adam-lindsay.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  margin-top: 70px;
  font-family: 'Great Vibes', cursive;
}

.landing-image > div {
  margin-bottom: 35px;
}

.landing-title {
  font-size: 60px;
  position: absolute;
  top: 20px;
  left: 20px;
  text-align: center;
}

.landing-countdown {
  position: absolute;
  top: 0;
  right: 20px;
  text-align: center;
}

.landing-countdown > div {
  margin: 10px;
  padding: 10px;
  font-size: 40px;
  color: #000;
}

@media only screen and (min-width: 1000px) and (max-width: 1050px) {
  .landing-title {
    font-size: 50px;
  }
}

@media only screen and (max-width: 999px) {
  .landing-title {
    bottom: 25px;
    top: unset;
    left: 0;
    right: 0;
  }

  .landing-countdown {
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
  }

  .landing-countdown > div {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 30px;
  }

  .landing-countdown > div > div {
    margin-top: -10px;
  }
}