body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  font-size: 16px;
}

.header {
  font-size: 45px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: 'Great Vibes', cursive;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
}